.center {
    text-align: center;
    color: white;    
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#label {
    
    text-align: center;
    color: white;  

}



.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

li {

   list-style: none;
   font-size: 170%;
    box-sizing: inherit;
    background: #2A2322;
    opacity: 0.7;

}

.borrar-tweet,
.borrar-tweet:hover {
    text-decoration: none;
    text-align: right;
    margin-left:3rem ;
    cursor: pointer;
    color:red;
    font-weight: bold;
}