.center {
    text-align: center;
    color: white;
    
    margin-top: 5rem;
}

#label {
    
    text-align: center;
    color: white;  

}



.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}